body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    background-color: rgb(13, 29, 70);
    display: flex;
    flex-direction: column; /* Per allineare i figli verticalmente */
    align-items: center; /* Per centrarli orizzontalmente */
    justify-content: center; /* Opzionale, per centrarli verticalmente se necessario */
}

.main_title {
    display: flex;
    flex-direction: column; /* allinea i figli (il logo e l'h1) verticalmente */
    align-items: center; /* centra i figli orizzontalmente */
}


header h1 {
    font-size: 2.5em;
    font-weight: normal;
    color: #FFD0E8;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo, header h1 {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

/* Navigation Style */
nav {
    display: flex; 
    justify-content: center; /* Centra gli elementi orizzontalmente */
    width: 100%;
    color: #FFD0E8;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
    
nav a {
    color: #FFD0E8; 
    padding-bottom: 5px;
    text-decoration: none;
    padding: 0 15px; /* Aggiunto un po' di padding per separare gli elementi del menu */
}

nav a:hover {
  /*  color: rgb(242, 40, 218);*/
    color: #FFD0E8; 
    font-weight: bold; /* Aggiunto per rendere l'elemento bold al passaggio del mouse */
}

nav ul {
    list-style-type: none; /* Rimuove i punti degli elenchi */
    padding: 0; /* Rimuove il padding predefinito */
    margin: 0; /* Rimuove il margine predefinito */
    display: flex; /* Fa sì che gli elementi li si allineino orizzontalmente */
    justify-content: center; /* Centra gli elementi orizzontalmente */
}

nav li {
    margin: 0 10px; /* Aggiunge un po' di margine tra gli elementi del menu */
}

.container {
        display: flex; 
        background-color: #DEDEDE; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        align-items: stretch;
}
.container2{
    display: flex; 
    background-color: #4DA69A; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: stretch;
}

.image-container {
    flex: 1; /* Fai sì che entrambi i contenitori occupino metà dello spazio disponibile */
    padding: 0px; /* Aggiungi un po' di spazio attorno al contenuto */
}
.text-container {
    flex: 1; 
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    font-family: 'Questrial';
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 1.5;

}

.image-container img {
    width: 100%; /* Fai sì che l'immagine si adatti completamente al suo contenitore */
    height: auto; /* Mantieni il rapporto d'aspetto dell'immagine */
}

header h2{
    text-align: center;
}
