header {
    background-color: rgb(13, 29, 70);
    display: flex;
    flex-direction: column; /* Per allineare i figli verticalmente */
    align-items: center; /* Per centrarli orizzontalmente */
    justify-content: center; /* Opzionale, per centrarli verticalmente se necessario */
}

.main_title {
    display: flex;
    flex-direction: column; /* allinea i figli (il logo e l'h1) verticalmente */
    align-items: center; /* centra i figli orizzontalmente */
}


header h1 {
    font-size: 2.5em;
    font-weight: normal;
    color: #FFD0E8;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo, header h1 {
    display: block;
    text-align: center;
    margin-bottom: 0px;
}

/* Navigation Style */
nav {
    display: flex; 
    justify-content: center; /* Centra gli elementi orizzontalmente */
    width: 100%;
    color: #FFD0E8;
    text-align: center;
    margin-top: 15px;
}
    
nav a {
    color: #FFD0E8; 
    padding-bottom: 5px;
    text-decoration: none;
    padding: 0 15px; /* Aggiunto un po' di padding per separare gli elementi del menu */
}

nav a:hover {
  /*  color: rgb(242, 40, 218);*/
    color: #FFD0E8; 
    font-weight: bold; /* Aggiunto per rendere l'elemento bold al passaggio del mouse */
}

nav ul {
    list-style-type: none; /* Rimuove i punti degli elenchi */
    padding: 0; /* Rimuove il padding predefinito */
    margin: 0; /* Rimuove il margine predefinito */
    display: flex; /* Fa sì che gli elementi li si allineino orizzontalmente */
    justify-content: center; /* Centra gli elementi orizzontalmente */
}

nav li {
    margin: 0 10px; /* Aggiunge un po' di margine tra gli elementi del menu */
}

/* Banner Style */

.banner_image{
       width: 100%;  /* Ad esempio, può occupare l'intera larghezza della viewport */
        height: 500px; /* altezza fissa in questo esempio */
    
        /* Impostare l'immagine di sfondo */
        background-image: url('images/DSC_3132_edited.jpg');
        background-size: cover; /* L'immagine coprirà l'intera dimensione dell'elemento */
        background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
        background-position: center center; /* Centra l'immagine */
    
        /* Centrare il testo - opzionale */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative; /* Rende possibile posizionare assolutamente le immagini dei personaggi rispetto a questo contenitore */
  }
    
.character {
    display: none;
    position: absolute;
    top: 20%;
    width: 50px;
    height: auto; /* mantiene il rapporto d'aspetto */
    transform: translateY(-50%);
}

.text1:hover + .frodo {
    display: block;
}
.text2:hover + .gandalf {
    display: block;
}

.frodo {
    left: -60px; /* Distanza da .text1; regola secondo le tue esigenze */
}

.gandalf {
    right: -60px; /* Distanza da .text2; regola secondo le tue esigenze */
}

.text1, .text2 {
    font-size: 24px;
    color: white;
    margin: 10px 0; /* Aggiungi un po' di spazio tra le due scritte */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    
.social-strip {
    background-color: rgb(13, 29, 70);
      padding: 20px 0;
    text-align: center; /* Centra le icone orizzontalmente */
}

.social-strip a {
    margin: 0 10px; /* Aggiunge un po' di spazio tra le icone */
    display: inline-block; /* Rende le icone allineate orizzontalmente */
}

.social-strip img {
    width: 30px; /* O qualsiasi altra dimensione desideri per le icone */
    height: auto;
    transition: 0.3s; /* Effetto di transizione per l'hover */
}

.social-strip img:hover {
    opacity: 0.7; /* Rende le icone leggermente trasparenti quando si passa il mouse sopra */
}

.mail {
    background-color: rgb(13, 29, 70);
    padding: 20px 0;
    text-align: center; /* Centra le icone orizzontalmente */
    margin-top: 0px;
    color: #FFD0E8;
}

.mail a {
    color: #FFD0E8;       
    text-decoration: none; 
}

.mail a:hover {
    color: #FFB0D8;         
    text-decoration: underline; 
    font-weight: bold;
}


